@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700&display=swap');

:root{
    --padding: 10px 100px 0px 100px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Urbanist', sans-serif;
    background-color: #f2f2f2;
}

.header{
    width: 100%;
    height: 100vh;
    background-color: #224c90;
    color: #fff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 1fr;
    grid-template-areas: 
    "navbar"
    "hero";
}

.navbar{
    grid-area: navbar;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
}

.logo h3{
    font-size: 25px;
    font-weight: 500;
}

.links{
    display: flex;
    list-style-type: none;
    column-gap: 15px;
}

.link{
    font-size: 18px;
    font-size: 300;
}

.hero{
    grid-area: hero;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "texts img"
                         "wave  wave";
    position: relative;
}

.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding);
}

.left{
    grid-area: texts;
    row-gap: 10px;
}

.right{
    grid-area: img;
}

.hero__title{
    font-size: 40px;
    font-weight: 700;
}

.hero__paragraph{
    font-size: 20px;
    font-weight: 400;
}

.hero__cta{
    display: inline-block;
    padding: 10px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    transition: 0.5s;
}

.hero__cta:hover{
    background-color: #fff;
    color: #224c90;
}

.hero__img{
    width: 100%;
}

.hero__wave{
    grid-area: wave;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 900px){
    :root{
        --padding: 0px 30px 0px 30px;
    }

    .logo h3{
        font-size: 20px;
    }
    
    .links{
        display: flex;
        list-style-type: none;
        column-gap: 5px;
    }
    
    .link{
        font-size: 16px;
        font-size: 300;
    }

    .hero{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto) 1fr;
        grid-template-areas: "img"
                             "texts"
                             "wave";
        justify-content: center;
        align-content: center;
        justify-items: center;
    }

    .hero__img{
        max-width: 400px;
    }

    .hero__title{
        font-size: 30px;
        text-align: center;
    }

    .hero__paragraph{
        font-size: 18px;
        text-align: center;
    }

    .hero__cta{
        padding: 5px;
        font-size: 15px;
        width: 100%;
    }

    .hero__wave{
        height: 50px;
        bottom: 0;
    }
}